<div class="container card edit-item-container">
	<div class="card-body">
		<!-- <h4 class="card-title">Edit List Item</h4> -->
		<form #editItemForm="ngForm" (ngSubmit)="onUpdate()" class="edit-item">
			<div class="form-group row">
				<label for="title" class="col-sm-3 offset-sm-2 col-form-label">Title<small class="required-field">*</small></label>
				<div class="col-sm-5">
					<input #title="ngModel" type="text" class="form-control" [(ngModel)]="listItem.title" name="title" required>
					<span [hidden]="title.valid || title.untouched" class="errorMsg">Name is required</span>
				</div>
				
			</div>
			<div class="form-group row">
				<label for="category" class="col-sm-3 offset-sm-2 col-form-label">Select Category<small class="required-field">*</small></label>
				<div class="col-sm-5">
					<select class="form-control" [(ngModel)]="listItem.category" name="category" required>
						<option value="High">High Priority</option>
						<option value="Medium">Medium Priority</option>
						<option value="Low">Low Priority</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="description" class="col-sm-3 offset-sm-2 col-form-label">Description<small class="required-field">*</small></label>
				<div class="col-sm-5">
					<input #description="ngModel" type="text" class="form-control" [(ngModel)]="listItem.description" name="description" required>
					<span [hidden]="description.valid || description.untouched" class="errorMsg">Description is required</span>
				</div>
			</div>
			<div class="row action-btns">
				<div class="col-sm-2 offset-sm-5">
					<button type="submit" class="btn btn-default" [disabled]="!editItemForm.form.valid">Update</button>
				</div>
				<div class="col-sm-2">
					<button type="button" (click)="resetForm()" class="btn btn-default">Reset</button>
				</div>
			</div>
		</form>
	</div>
</div>