div.add-new-item-container{
    margin-top: 45px;
    box-shadow: 0px 5px 5px 0px #ccc;
}

form.add-new-item{
    padding: 25px;
}

div.action-btns button{
    width: 100px ;
}

.ng-valid[required].ng-touched, .ng-valid.required.ng-touched  {
    border-bottom: 2px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form).ng-touched  {
    border-bottom: 2px solid #a94442; /* red */
  }

small.required-field{
	color: red;
	font-size: 17px
}