<div class="card list-heading">
    <div class="card-body">
        <h3> Bucketlist App </h3>
    </div>
</div>


<!-- Table starts here -->
<table id="table" class="table table-striped table-bordered" *ngIf="lists.length > 0">
    <thead class="thead">
        <tr>
            <th>#</th>
            <th>Priority Level</th>
            <th>Title</th>
            <th>Description</th>
            <th> Edit </th>
            <th> Delete </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let list of lists; index as i">
            <td>{{i+1}}</td>
            <td>{{list.category}}</td>
            <td>{{list.title}}</td>
            <td>{{list.description}}</td>

            <!-- <td *ngIf="isEdit && i == rowIndex"><input type="text" value="{{list.category}}"></td>
            <td *ngIf="isEdit && i == rowIndex"><input type="text" value="{{list.title}}"></td>
            <td *ngIf="isEdit && i == rowIndex"><input type="text" value="{{list.description}}"></td> -->
            <td>
                <!-- <button type="button" class="btn btn-default" (click)="editRecord(list, i);$event.stopPropagation();">Edit</button> -->
                <button type="button" class="btn btn-default" (click)="openModal(editFormTemplate, list, true, false);$event.stopPropagation();">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-default" (click)="openModal(confirmDeleteTemplate, list, false, true); $event.stopPropagation();">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="no-records-found" *ngIf="lists.length == 0">
    <h4>No records found</h4>
</div>

<app-add-list #addListComponent (addList)='onAddList($event)'></app-add-list>

<!-- <app-edit-list *ngIf="isEdit" [listItem]="listItemToEdit"></app-edit-list> -->

<ng-template #editFormTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Form</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- <div class="modal-body"> -->
    <app-edit-list [listItem]="listItemToEditorDelete" (editListItem)="onEditListItem($event)"></app-edit-list>
    <!-- </div>  -->
</ng-template>

<ng-template #confirmDeleteTemplate>
    <div class="modal-body text-center">
        <p>Do you want to confirm?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>