div.list-heading{
    margin-bottom: 15px;
    box-shadow: 0px 5px 5px 0px #ccc;
}

div.no-records-found{
    padding: 10px 0;
}

div.no-records-found h4{
    font-weight: normal;
}

table{
    text-align: center;
}

table button{
    width: 75px;
}