/* You can add global styles to this file, and also import other style files */

@import '../node_modules/angular2-toaster/toaster.css';

div.modal-content{
    padding: 0px 30px 12px 30px;
}

button{
    cursor: pointer;
}

.btn.disabled, .btn:disabled{
    cursor: not-allowed;
}